.navkontakt{
   
    font-size:1.5rem;
    float:right;
    text-decoration: none;
    color: #000;
}
.navkontakt:hover{
   color: #acba4a;
   transition:all 0.3s ease;
}

body{
    font-family: 'Varela Round', sans-serif;
    overflow-x: hidden;
}
.conto{
    background-color: transparent;
  
}
.top{
    transition: background 0.3s ease;
}
.textos{
    margin-left:10rem;
    margin-right:10rem;
}
.badge{
    margin: auto;
    width: fit-content;
}

@media (max-width: 800px) {
	.textos{
        margin-left:4rem;
        margin-right: 4rem;
    }
}
@media (max-width: 1000px) {
	.textos{
        margin-left:3rem;
        margin-right: 3rem;
    }
}